/* Основной контейнер Dobrodel */
.dobrodel-container {
  font-family: Arial, sans-serif;;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 99%;
  height: 90vh;
  padding: 20px;
  background-color: #dadada;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: stretch;
}

.bold-text {
  font-weight: bold;
}

.centered-text {
  text-align: center;
}

/* Контейнер для формы */
.dobrodel-form {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 250px;
  max-width: 300px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  gap: 10px;
  justify-content: space-between;
}

.dobrodel-form label {
  font-size: 14px;
  color: #000000;
  font-weight: bold; /* Сделать текст жирным */
  margin-bottom: 3px;
}

.dobrodel-form input,
.dobrodel-form textarea,
.task-select {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.dobrodel-form input:focus,
.dobrodel-form textarea:focus,
.task-select:focus {
  border-color: #007bff;
}

/* CSS для контейнера задания с иконкой фильтра */
.task-filter-container {
  display: flex;
  align-items: center;
  position: relative; /* Для позиционирования pattern-dropdown */
}

.filter-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.filter-button:hover {
  color: #007bff; /* Синий цвет при наведении */
}

.pattern-dropdown {
  position: absolute;
  top: 90%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  margin-top: 5px;
}


.pattern-option {
  padding: 8px;
  cursor: pointer;
}

.pattern-option:hover {
  background-color: #f0f0f0;
}

/* Кнопки формы */
.form-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: auto;
}

.form-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: #000000;
}

.add-button:hover {
  color: #28a745;
}

.delete-button:hover,
.cancel-button:hover {
  color: #dc3545;
}

.edit-button:hover {
  color: #007bff;
}

.save-button:hover {
  color: #28a745;
}

/* Контейнер для поиска и таблицы */
.dobrodel-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 10px;
  justify-content: center;
}

.search-container label {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.search-select,
.search-input {
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  background-color: #fff;
  color: #000;
}

.search-input {
  flex-grow: 1;
}

.search-input:focus,
.search-select:focus {
  border-color: #007bff;
}

/* Контейнер для таблицы */
.dobrodel-table {
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Прокрутка по вертикали */
  height: 92%; /* Задать фиксированную высоту */
  padding: 10px;
  box-sizing: border-box;
}

.dobrodel-table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.dobrodel-table th,
.dobrodel-table td {
  padding: 10px 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dobrodel-table th {
  background-color: #eaeaea;
  text-transform: uppercase;
  font-weight: 600;
}

.dobrodel-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dobrodel-table tr:hover {
  background-color: #e6f7ff;
}

.dobrodel-table tr.selected-row {
  background-color: #e0f7fa;
  font-weight: bold;
}

.dobrodel-table td {
  color: #333;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.dobrodel-table td[colspan="6"] {
  text-align: center;
  color: #999;
}

/* Анимация появления */
.dobrodel-form, .search-container, .dobrodel-table {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Адаптивный дизайн для меньших экранов */
@media (max-width: 768px) {
  .dobrodel-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .dobrodel-form,
  .search-container,
  .dobrodel-table {
    width: 100%;
  }
}

/* Кнопка обновить */
.refresh-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  color: #333;
  margin-left: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.refresh-button:hover {
  color: #007bff;
}

.refresh-button:active {
  transform: rotate(180deg);
}

/* Кнопка для экспорта в Excel */
.excel-button {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #28a745;
  transition: color 0.3s ease;
}

.excel-button:hover {
  color: #1e7e34;
}